/* color კუთვნილება განსაზღვრავს ტექსტის ფერს */
.color {
    color: blue; /* ტექსტი იქნება ლურჯი */
}

/* background-color კუთვნილება განსაზღვრავს ფონის ფერს */
.background-color {
    background-color: yellow; /* ფონური ფერი იქნება ყვითელი */
}

/* font-size კუთვნილება განსაზღვრავს ტექსტის ზომას */
.font-size {
    font-size: 24px; /* ტექსტის ზომა იქნება 24 პიქსელი */
}

/* font-weight კუთვნილება განსაზღვრავს ტექსტის სისქეს */
.font-weight {
    font-weight: bold; /* ტექსტი იქნება სქელი */
}

/* text-align კუთვნილება განსაზღვრავს ტექსტის გასწორებას */
.text-align {
    text-align: center; /* ტექსტი გასწორდება ცენტრში */
}
